<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='./ChatLog.css' />
    <link rel="stylesheet" href='../Chat/style.css' />
    <script src="../common/utils.js"></script>
    <script src="./index.js"></script>
</head>

<style>
.field {
    clear: both;
    text-align: right;
    line-height: 25px;
}

label {
    float: left;
    padding-right: 10px;
}

.main {
    float: left
}

</style>

<body>
    <div class="main">
        <h2>Настройки автоответчика</h2>
        <div class="field">
            <label for="private">Ответ в приват</label>
            <input type="text" id="private" />
        </div>
        <br>
        <div class="field">
            <label for="private">Ответ в основной чат</label>
            <input type="text" id="private" />
        </div>
        <br>
        <div class="field">
            <label for="private">Ответ в торговый</label>
            <input type="text" id="private" />
        </div>
        <br>
        <div class="field">
            <label for="private">Ответ в группу</label>
            <input type="text" id="private" />
        </div>
        <br>
        <div class="field">
            <label for="private">Ответ в клан</label>
            <input type="text" id="private" />
        </div>
        <br>
        <div class="field">
            <label for="private">Ответ в альянс</label>
            <input type="text" id="private" />
        </div>
    </div>
</body>
