<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='../Chat/style.css' />
    <script src="../common/utils.js"></script>
</head>

<style>
.field {
    clear: both;
    text-align: right;
    line-height: 25px;
}

label {
    float: left;
    padding-right: 10px;
}

.main {
    display: flex;
}

.time {
    width: 50px;
}

</style>

<body>
    <div class="main">
        <div>
            <h2>Настройки автоответчика</h2>
            <div class="field">
                <label for="inactiveEnable">Включить автоответчик</label>
                <input type="checkbox" id="inactiveEnable" />
            </div>
            <br>
            <div class="field">
                <label for="inactiveTimer">Время ухода в инактив</label>
                <input type="text" placeholder="В минутах" id="inactiveTimer" />
            </div>
            <br>
            <div class="field">
                <label for="private">Ответ в приват</label>
                <input type="text" id="private" />
            </div>
            <br>
            <div class="field">
                <label for="common">Ответ в основной чат</label>
                <input type="text" id="common" />
            </div>
            <br>
            <div class="field">
                <label for="trade">Ответ в торговый</label>
                <input type="text" id="trade" />
            </div>
            <br>
            <div class="field">
                <label for="group">Ответ в группу</label>
                <input type="text" id="group" />
            </div>
            <br>
            <div class="field">
                <label for="clan">Ответ в клан</label>
                <input type="text" id="clan" />
            </div>
            <br>
            <div class="field">
                <label for="alliance">Ответ в альянс</label>
                <input type="text" id="alliance" />
            </div>
        </div>
        <div style="margin-left: 50px;">
            <h2>Настройки флудилки</h2>
            <div class="field">
                <label for="floodEnable">Включить флудилку</label>
                <input type="checkbox" id="floodEnable" />
            </div>
            <br>
            <br>
            <div class="field">
                <label for="commonFlood">Основной чат</label>
                <input type="text" id="commonFlood" />
                <input type="text" placeholder="Мин." class="time" id="commonFloodTime" />
            </div>
            <br>
            <div class="field">
                <label for="tradeFlood">Торговый чат</label>
                <input type="text" id="tradeFlood" />
                <input type="text" placeholder="Мин." class="time" id="tradeFloodTime" />
            </div>
            <br>
            <div class="field">
                <label for="groupFlood">Чат группы</label>
                <input type="text" id="groupFlood" />
                <input type="text" placeholder="Мин." class="time" id="groupFloodTime" />
            </div>
            <br>
            <div class="field">
                <label for="clanFlood">Чат клана</label>
                <input type="text" id="clanFlood" />
                <input type="text" placeholder="Мин." class="time" id="clanFloodTime" />
            </div>
            <br>
            <div class="field">
                <label for="allianceFlood">Чат альянса</label>
                <input type="text" id="allianceFlood" />
                <input type="text" placeholder="Мин." class="time" id="allianceFloodTime" />
            </div>
        </div>
    </div>
    <br>
    <button>Сохранить</button>
</body>
