<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='./style.css' />
    <script src="../common/utils.js"></script>
</head>

<script>

var filters = []

function filterLog() {
    document.querySelector('.messageLogs').children.toArray().forEach(a => a.style.display = 'none')
    for(let filter of filters) {
        if(filter != 'cml_spc') {
            let filteredItems = document.querySelector('.messageLogs').children.toArray().filter(a => a.firstElementChild.className == filter)
            filteredItems.forEach(a => a.style.display = 'block')
        } else {
            let filteredItems = document.querySelector('.messageLogs').children.toArray().filter(a => a.className == filter)
            filteredItems.forEach(a => a.style.display = 'block')
        }
    }
    if(filters.isEmpty()) {
        document.querySelector('.messageLogs').children.toArray().forEach(a => a.style.display = 'block')
    }
}

function scrollToBottom() {
    var element = document.getElementsByClassName('messageLogs')
    element[0].scrollTop = element[0].scrollHeight;
}

window.addEventListener('DOMContentLoaded', () => {
    document.querySelector('#private').onchange = function(e) {
        this.checked ? filters.push('cml_prv') : filters.removeItem('cml_prv')
        filterLog()
    }
    document.querySelector('#common').onchange = function(e) {
        this.checked ? filters.push('cml_loc') : filters.removeItem('cml_loc')
        filterLog()
    }
    document.querySelector('#system').onchange = function(e) {
        this.checked ? filters.push('cml_spc') : filters.removeItem('cml_spc')
        filterLog()
    }
    document.querySelector('#trade').onchange = function(e) {
        this.checked ? filters.push('cml_trd') : filters.removeItem('cml_trd')
        filterLog()
    }  
})

</script>

<body style="overflow: hidden; margin-bottom: 35px;">
    <div style="display: flex; background-color: #666666; height: 5%; margin: 10px;">
        <div>
            <input type="checkbox" id="private">
            <label for="private">Private</label>
        </div>
        <div>
            <input type="checkbox" id="common">
            <label for="common">Common</label>
        </div>
        <div>
            <input type="checkbox" id="system">
            <label for="system">System</label>
        </div>
        <div>
            <input type="checkbox" id="trade">
            <label for="trade">Trade</label>
        </div>
        <div>
            <input type="checkbox" disabled id="clan">
            <label for="clan">Clan</label>
        </div>
        <div>
            <input type="checkbox" disabled id="alliance">
            <label for="alliance">Alliance</label>
        </div>
    </div>
    <div class="messageLogs" style="overflow: scroll; height: 95%; padding-bottom: 15px;"></div>
</body>
