<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./index.css" />
    <script src="./index.js"></script>
</head>

<body>
    <div class="row">
        <div class="button-cover">
            <div class="button r" id="button-1">
                <input type="checkbox" class="checkbox">
                <div class="knobs" server="W1"></div>
                <div class="layer"></div>
            </div>
        </div>

        <div class="col-3">
            <input class="effect-10" disabled="disabled" type="text" placeholder="">
            <span class="focus-bg"></span>
        </div>

        <button style="margin-left: 10px;" id="reload_button">Reload</button>
        <button style="margin-left: 10px; display: none;" id="dressing_room_button">Open dressing</button>
        <button style="margin-left: 10px; display: none;" id="belt_button">Open belts</button>
        <button style="margin-left: 10px;" id="chat_log_button">Chat log</button>
        <button style="margin-left: 10px;" id="chat_settings_button">Chat settings</button>

        <button style="margin-left: 10px; background-color: green; color: white; display: none;" id="updateApplicationButton">Обновить</button>

    </div>


    <div class="tabs">
        <div id="new_tab">
            <button onclick="addTab()">+</button>
        </div>
    </div>
</body>

</html>
