html {
    height: 100%;
    width: 100%;
}

body {
    background-color: blanchedalmond;
    height: 98%;
    display: flex;
}

.sets.fullHeight {
    height: 95%;
}

#editor {
    height: 95%;
    width: 90%;
    margin-left: 10px;
    padding: 5px;
    resize: none;
    outline: none;
}

.leaderboard__name.text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 155px;
    white-space: nowrap;
    font-weight: 100;
}