/* Copyright 2018 Google LLC.
SPDX-License-Identifier: Apache-2.0 */
/* CSS files add styling rules to your content */
body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    font-size: 15px;
}

.content {
    display: flex;
    width: 100%;
}

.current_items {
    border: 3px dotted #666;
    height: 50%;
    width:  80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    grid-gap: 10px;

    margin-left: 10px;
    padding-right: 10px;
}

.grayItems {
/*     border: 1px dotted #000; */
    width: 30px;
    height: 30px;
}

.equipped_items {
/*     border: 3px dotted #666; */
    height: 400px;
    width: 350px;
    flex-shrink: 0;

}

:root {
  --helmetLeftMargin: 120px;
  --leftItemsLeftMargin: calc(var(--helmetLeftMargin) - 110px);
  --rightItemsLeftMaring: calc(var(--helmetLeftMargin) + 110px);
  --topDefaultMargin: 50px;
  --topDefaultAdditionalMargin: 90px;
}

#person {
    background-image: url('https://cdn.glitch.me/2564928c-694b-4cfc-96b7-b073c5018e3e%2Fperson.png?v=1638651580361');
    background-repeat: no-repeat;
    width: 150px;
    height: 320px;
    position: absolute;
    background-position: center;
    background-size: cover;
    margin-left: calc(var(--helmetLeftMargin) - 38px);
    margin-top: 75px;
}

.current_items div {
    margin: 5px;
}

.box {
    border: 2px solid #666;
    border-radius: 0.5em;
    cursor: move;
    height: 70px;
    width: 70px;
    display: inline-block;
}

.box_static {
    border: 2px solid #666;
    border-radius: 0.5em;
    height: 70px;
    width: 70px;
}

#helmet {
    margin-left: var(--helmetLeftMargin);
    position: absolute;
}

#helmet_box {
    background-image: url('https://cdn.glitch.me/2564928c-694b-4cfc-96b7-b073c5018e3e%2Flight-helm.svg?v=1638649389445');
}

#shoulders {
    margin-left: var(--leftItemsLeftMargin);
    margin-top: var(--topDefaultMargin);
    position: absolute;
}

#shoulders_box {
    background-image: url('https://cdn.glitch.me/2564928c-694b-4cfc-96b7-b073c5018e3e%2Fspiked-shoulder-armor.svg?v=1638649408411');
}

#bracers {
    margin-left: var(--rightItemsLeftMaring);
    margin-top: var(--topDefaultMargin);
    position: absolute;
}

#bracers_box {
    background-image: url('https://cdn.glitch.me/2564928c-694b-4cfc-96b7-b073c5018e3e%2Fgloves.svg?v=1638649397763');
}

#main_weapon {
    margin-left: var(--leftItemsLeftMargin);
    margin-top: calc(var(--topDefaultMargin) + var(--topDefaultAdditionalMargin));
    position: absolute;
}

#main_weapon_box {
    background-image: url('https://cdn.glitch.me/2564928c-694b-4cfc-96b7-b073c5018e3e%2Faxe-sword.svg?v=1638650825184');
}

#offhand_weapon {
    margin-left: var(--rightItemsLeftMaring);
    margin-top: calc(var(--topDefaultMargin) + var(--topDefaultAdditionalMargin));
    position: absolute;
}

#offhand_weapon_box {
    background-image: url('https://cdn.glitch.me/2564928c-694b-4cfc-96b7-b073c5018e3e%2Fswords-emblem.svg?v=1638650827416');
}

#cuirass {
    margin-left: var(--leftItemsLeftMargin);
    margin-top: calc(var(--topDefaultMargin) + var(--topDefaultAdditionalMargin) * 2);
    position: absolute;
}

#cuirass_box {
    background-image: url('https://cdn.glitch.me/2564928c-694b-4cfc-96b7-b073c5018e3e%2Fchest-armor.svg?v=1638649395067');
}

#leggings {
    margin-left: var(--rightItemsLeftMaring);
    margin-top: calc(var(--topDefaultMargin) + var(--topDefaultAdditionalMargin) * 2);
    position: absolute;
}

#leggings_box {
    background-image: url('https://cdn.glitch.me/2564928c-694b-4cfc-96b7-b073c5018e3e%2Fmetal-skirt.svg?v=1638649402525');
}

#chain_mail {
    margin-left: var(--leftItemsLeftMargin);
    margin-top: calc(var(--topDefaultMargin) + var(--topDefaultAdditionalMargin) * 3);
    position: absolute;
}

#chain_mail_box {
    background-image: url('https://cdn.glitch.me/2564928c-694b-4cfc-96b7-b073c5018e3e%2Fshoulder-armor.svg?v=1638649404800');
}

#boots {
    margin-left: var(--rightItemsLeftMaring);
    margin-top: calc(var(--topDefaultMargin) + var(--topDefaultAdditionalMargin) * 3);
    position: absolute;
}

#boots_box {
    background-image: url('https://cdn.glitch.me/2564928c-694b-4cfc-96b7-b073c5018e3e%2Fleg-armor.svg?v=1638649387416');
}

leggings .box.over {
    border: 3px dotted #666;
}

[draggable] {
    user-select: none;
}




.itemCheckbox
{
    display: none;
}

.itemsCheckboxFilter
{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
}

.i_gray {
    background-color: gray;
}

.i_green {
    background-color: green;
    margin-top: 40px;
}

.i_blue {
    background-color: blue;
    margin-top: 80px;
}

.i_purple {
    background-color: purple;
    margin-top: 120px;
}

.i_red {
    background-color: red;
    margin-top: 160px;
}

.itemsCheckboxFilter:before
{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 0.2s ease width, 0.2s ease height;
}

.itemsCheckboxFilter:hover:before
{
    width: 20px;
    height: 20px;
}

#i_gray:checked + .itemsCheckboxFilter:before,
#i_green:checked + .itemsCheckboxFilter:before,
#i_blue:checked + .itemsCheckboxFilter:before,
#i_purple:checked + .itemsCheckboxFilter:before,
#i_red:checked + .itemsCheckboxFilter:before
{
    width: 0;
    height: 0;
}
