*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

.tabs {
    overflow: scroll;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 20px;
    display: flex;
    overflow-x: auto;
    margin-top: 8px;
    user-select: none;
}

/* Style the buttons inside the tab */
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tabs button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tabs button.active {
    background-color: #ccc;
}

.ab {
    display: inline-block;
    padding: 0.5em 2em;
    text-decoration: none;
    background-color: #f1f1f1;
    color: #000;
    cursor: pointer;
    line-height: 0px;
}

.ab a {
    text-align: center;
    margin: auto;
    height: 10px;
    font-size: 12px;
}

.ab:hover {
    background-color: #ddd;
}

.ab.active {
    background-color: #ccc;
}

.close {
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0.4;
}

.close:hover {
    opacity: 1;
}

.close::before,
.close::after {
    position: absolute;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #000;
    margin-left: 12px;
    margin-top: -3px;
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}


/* Refactored */

/* Server switcher */
.knob,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.serverSwitcher {
    position: relative;
    width: 60px;
    height: 30px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knob {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #d7e3e3;
    transition: 0.3s ease all;
    z-index: 1;
    border-radius: 100px;
}

#switcher .knob:before {
    content: attr(server);
    position: absolute;
    top: 3px;
    left: 5px;
    width: 23px;
    height: 23px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 2.5;
    background-color: #03A9F4;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;

}

#switcher .checkbox:checked+.knob:before {
    content: attr(server);
    left: 30px;
    background-color: #03A9F4;
}

#switcher .checkbox:checked~.layer {
    background-color: #d7e3e3;
}

#switcher .knob,
#switcher .knob:before,
#switcher .layer {
    transition: 0.3s ease all;
}

/* Browser url bar */
.urlBar {
    margin-left: 5px;
    width: 30%;
    display: flex;
    background-color: white;
}

.urlBarField {
    padding: 7px 30px 7px 15px;
    border: 1px solid #ccc;
    background: transparent;
    font: 15px/24px "Lato", Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    height: 30px;
}

/* Browser buttons */
#reloadButton {
    margin-left: -25px;
    margin-top: auto;
    z-index: 100;
    margin-bottom: auto;
    width: 15px;
    height: 15px;
    background-color: white;
    border: none;
    background-size: cover;
    background-image: url('./images/Reload.png');
}

#backButton {
    margin-left: 5px;
    width: 20px;
    height: 30px;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-image: url('./images/Back.png');
    background-repeat: no-repeat;
    border: none;
}

#backButton:hover {
    background-color: rgba(153, 153, 153, 0.3);
}

#forwardButton {
    margin-left: 5px;
    width: 20px;
    height: 30px;
    background-color: white;
    background-size: contain;
    background-position: center;
    background-image: url('./images/Forward.png');
    background-repeat: no-repeat;
    border: none;
}

#forwardButton:hover {
    background-color: rgba(153, 153, 153, 0.3);
}


/* Plugins and other buttons */

#plugins {
    display: flex; 
    float: right; 
    right: 30px; 
    position: absolute
}

#dressingRoom {
    margin-left: 10px; 
    height: 30px;
    width: 30px;
    border: none;
    display: none;
    background-color: white;
    border-radius: 3px;
    background-size: contain;
    background-image: url('./images/DressingRoomIcon.svg');
}

#beltPotionRoom {
    margin-left: 10px; 
    height: 30px;
    width: 30px;
    border: none;
    display: none;
    background-color: white;
    border-radius: 3px;
    background-size: contain;
    background-image: url('./images/BeltPotionRoom.svg');
}

#chatLog {
    margin-left: 10px; 
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    border-radius: 3px;
    background-size: contain;
    background-image: url('./images/ChatLog.png');
}

#chatSettings {
    margin-left: 10px; 
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    border-radius: 3px;
    background-size: contain;
    background-image: url('./images/ChatSettings.png');
}

#updateApplication {
    margin-left: 100px; 
    height: 30px;
    width: 30px;
    border: none;
    display: none;
    background-color: white;
    border-radius: 3px;
    background-size: contain;
    background-image: url('./images/UpdateApp.png');
}

#settings {
    margin-left: 10px; 
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    border-radius: 3px;
    background-size: contain;
    background-image: url('./images/Settings.png');
}

#notes {
    margin-left: 10px; 
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    border-radius: 3px;
    background-size: contain;
    background-image: url('./images/Notes.svg');
}

#screenshot {
    margin-left: 10px; 
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    border-radius: 3px;
    background-size: contain;
    background-image: url('./images/Screenshot.png');
}

#food {
    margin-left: 10px; 
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
    border-radius: 3px;
    background-size: contain;
    background-image: url('./images/Food.svg');
}

.nickUtilsButton {
    height: 30px;
    width: 40px;
    border: none;
    background-color: white;
    border-radius: 3px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#prvUserButton {
    margin-left: 10px;
    background-image: url('./images/Private.png');
}

#findCharacter {
    background-image: url('./images/Info.png');
}

#findEffects {
    background-image: url('./images/Effects.png');
}